$bg: #262432;
$bg-two: #1E1D26;
$bg-three: #17151e;
$dark: #1A1A1A;
$light: #ffffff;
$light-two: #b3b3b3;
$main: #837AE4;
$mainHover: #7068c2;
$two: #32304E;
$three: #53516C;
$four: #584ECD;
$fourHover: #4a41b0;
$shadow: rgba(0, 0, 0, .5);
$error: #ed735e;