@use "colors" as c;

@media (min-width: 576px) {

    .header {
        &__heading {
            font-size: 4rem;
        }

        &__btn {
            font-size: 2.5rem;
        }
    }

    .pricing {
        &__card {
            margin: 2em;
        }
    }
}